In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time

## MOBILES CATEGORY SCRAPING

In [3]:
options=Options()
options.add_argument("--disable-gpu")
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=options)
driver.get("https://www.flipkart.com/search?q=mobiles%205g&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")
driver.maximize_window()
wait=WebDriverWait(driver,10)

In [4]:
ProductName=[]
Price=[]
Category=[]
Ratings=[]
NumberofReviews=[]

In [5]:
base_url = "https://www.flipkart.com/search?q=mobiles%205g&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

for page in range(1,7):
    driver.get(f"{base_url}&page={page}")
    print(f"Scraping page {page}...")

    wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, "jIjQ8S")))
    mobiles = driver.find_elements(By.CLASS_NAME, "jIjQ8S")

    for mobile in mobiles:
        try:
            cate=driver.find_elements(By.CLASS_NAME,"aDN3s4")
            category = cate.find_element(By.CLASS_NAME, "zEfFJL").text.strip()
        except:
            category = "N/A"

        try:
            name = mobile.find_element(By.CLASS_NAME, "RG5Slk").text.strip()
        except:
            name = "N/A"

        try:
            price = mobile.find_element(By.CSS_SELECTOR, ".hZ3P6w.DeU9vF").text.strip()
        except:
            price = "N/A"

        try:
            rating = mobile.find_element(By.CLASS_NAME, "MKiFS6").text.strip()
        except:
            rating = "N/A"

        try:
            text = mobile.find_element(By.CLASS_NAME, "PvbNMB").text
            reviewcount = text.split("&")[1].replace("Reviews", "").replace(",", "").strip()
        except:
            reviewcount = "N/A"

        ProductName.append(name)
        Price.append(price)
        Category.append(category)
        Ratings.append(rating)
        NumberofReviews.append(reviewcount)

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...

In [6]:
#create DataFrame
df = pd.DataFrame({
    "ProductName": ProductName,
    "Price": Price,
    "Category": Category,
    "Rating": Ratings,
    "Reviews":NumberofReviews
})

print(f"\nTotal  scraped: {len(df)}")

Total  scraped: 144

In [61]:
df.head(10)

,ProductName,Price,Category,Rating,Reviews
0,"Google Pixel 9A (Porcelain, 256 GB)","₹39,999",N/A,4.4,348
1,"Google Pixel 9A (Iris, 256 GB)","₹39,999",N/A,4.4,348
2,"Ai+ Nova 5G (Pink, 128 GB)","₹8,499",N/A,4.1,1358
3,"POCO C75 5G (Aqua Bliss, 64 GB)","₹8,299",N/A,4.2,6441
4,"Google Pixel 9A (Obsidian, 256 GB)","₹39,999",N/A,4.4,348
5,"POCO C75 5G (Aqua Bliss, 128 GB)","₹9,299",N/A,4.2,6441
6,"vivo T4x 5G (Marine Blue, 128 GB)","₹15,499",N/A,4.4,8859
7,"POCO C75 5G (Silver Stardust, 64 GB)","₹8,299",N/A,4.2,6441
8,"Ai+ Nova 5G (Black, 128 GB)","₹8,499",N/A,4.1,1358
9,vivo T4 Lite 5G Charger in the Box (Prism Blue...,"₹10,999",N/A,4.4,1209

In [62]:
df['Category']="Mobile"

In [63]:
df.head(10)

,ProductName,Price,Category,Rating,Reviews
0,"Google Pixel 9A (Porcelain, 256 GB)","₹39,999",Mobile,4.4,348
1,"Google Pixel 9A (Iris, 256 GB)","₹39,999",Mobile,4.4,348
2,"Ai+ Nova 5G (Pink, 128 GB)","₹8,499",Mobile,4.1,1358
3,"POCO C75 5G (Aqua Bliss, 64 GB)","₹8,299",Mobile,4.2,6441
4,"Google Pixel 9A (Obsidian, 256 GB)","₹39,999",Mobile,4.4,348
5,"POCO C75 5G (Aqua Bliss, 128 GB)","₹9,299",Mobile,4.2,6441
6,"vivo T4x 5G (Marine Blue, 128 GB)","₹15,499",Mobile,4.4,8859
7,"POCO C75 5G (Silver Stardust, 64 GB)","₹8,299",Mobile,4.2,6441
8,"Ai+ Nova 5G (Black, 128 GB)","₹8,499",Mobile,4.1,1358
9,vivo T4 Lite 5G Charger in the Box (Prism Blue...,"₹10,999",Mobile,4.4,1209

In [64]:
driver.quit()

## ELECTRONICS CATEGORY SCRAPING

In [5]:
options=Options()
options.add_argument("--disable-gpu")
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=options)
driver.get("https://www.flipkart.com/search?q=electronics&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off")
driver.maximize_window()
wait=WebDriverWait(driver,10)

In [6]:
ProductName1=[]
Price1=[]
Category1=[]
Ratings1=[]
NumberofReviews1=[]

In [7]:
base_url = "https://www.flipkart.com/search?q=electronics&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off"

for page in range(1,7):
    driver.get(f"{base_url}&page={page}")
    print(f"Scraping page {page}...")

    wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, "RGLWAk")))
    mobiles = driver.find_elements(By.CLASS_NAME, "RGLWAk")

    for mobile in mobiles:
        try:
            cate=driver.find_elements(By.CLASS_NAME,"Vba09Z")
            category = cate.find_element(By.CLASS_NAME, "zEfFJL").text.strip()
        except:
            category = "N/A"

        try:
            name = mobile.find_element(By.CLASS_NAME, "pIpigb").get_attribute('title')
        except:
            name = "N/A"

        try:
            price = mobile.find_element(By.CLASS_NAME, "hZ3P6w").text.strip()
        except:
            price = "N/A"

        try:
            rating = mobile.find_element(By.CLASS_NAME, "MKiFS6").text.strip()
        except:
            rating = "N/A"

        try:
            reviewcount = mobile.find_element(By.CLASS_NAME, "PvbNMB").text
            
        except:
            reviewcount = "N/A"

        ProductName1.append(name)
        Price1.append(price)
        Category1.append(category)
        Ratings1.append(rating)
        NumberofReviews1.append(reviewcount)

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...

In [8]:
#create DataFrame
df1 = pd.DataFrame({
    "ProductName": ProductName1,
    "Price": Price1,
    "Category": Category1,
    "Rating": Ratings1,
    "Reviews":NumberofReviews1
})

print(f"\nTotal scraped: {len(df1)}")

Total scraped: 240

In [10]:
df1.tail(10)

,ProductName,Price,Category,Rating,Reviews
230,"Luxurium decor Counter for Chanting Mantra, Ta...",₹84,N/A,4.3,"(5,980)"
231,VEGA 9 in 1 Pro Multi Grooming Trimmer for Men...,"₹1,599",N/A,4.3,"(28,882)"
232,Onshoppy Aseptic 12V High Power Portable Wet &...,₹697,N/A,3.8,(61)
233,"PHILIPS BT1233/18, Dura Power Tech, Skin Safe ...",₹889,N/A,4,"(2,47,153)"
234,AGARO 33622 Trimmer 90 min Runtime 2 Length S...,"₹1,098",N/A,4.2,"(9,009)"
235,One Plus OP 118 Cordless Professional Small Si...,₹597,N/A,4,"(2,468)"
236,AGEasy Automatic Digital Blood Pressure Machin...,"₹1,150",N/A,4.1,"(7,471)"
237,vyog 10Kg Counter Kitchen Weight Machine with ...,₹420,N/A,3.8,"(2,947)"
238,Envie Bettle ECR-20 |Combo With| 4xAA 1000 Ni-...,₹645,N/A,3.9,"(5,495)"
239,Longway Superb 10 L Storage Water Geyser 5 Sta...,"₹3,262",N/A,4.1,"(18,288)"

In [12]:
df1['Category']="Electronics"
df1

,ProductName,Price,Category,Rating,Reviews,category
0,tHemiStO TH-WS15 Stainless Steel (10kg) Kitche...,₹533,Electronics,4,"(3,044)",Electronics
1,"TATA 1mg Digital Weighing Scale, Premium Weigh...",₹992,Electronics,4.1,"(6,386)",Electronics
2,texla 1 gm TO 10 kg electronic kitchen scale(w...,₹230,Electronics,3.9,"(35,971)",Electronics
3,Glancing 50Kg Portable Hanging Luggage Weight ...,₹230,Electronics,4.1,"(4,381)",Electronics
4,heoluix Water Proof & shock proof 2000watt ele...,₹301,Electronics,4.2,(555),Electronics
...,...,...,...,...,...,...
235,One Plus OP 118 Cordless Professional Small Si...,₹597,Electronics,4,"(2,468)",Electronics
236,AGEasy Automatic Digital Blood Pressure Machin...,"₹1,150",Electronics,4.1,"(7,471)",Electronics
237,vyog 10Kg Counter Kitchen Weight Machine with ...,₹420,Electronics,3.8,"(2,947)",Electronics
238,Envie Bettle ECR-20 |Combo With| 4xAA 1000 Ni-...,₹645,Electronics,3.9,"(5,495)",Electronics
239,Longway Superb 10 L Storage Water Geyser 5 Sta...,"₹3,262",Electronics,4.1,"(18,288)",Electronics

In [13]:
driver.quit()

## Laptops category Scraping

In [29]:
options=Options()
options.add_argument("--disable-gpu")
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=options)
driver.get("https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")
driver.maximize_window()
wait=WebDriverWait(driver,10)

In [30]:
ProductName2=[]
Price2=[]
Category2=[]
Ratings2=[]
NumberofReviews2=[]

In [31]:
base_url = "https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

for page in range(1,7):
    driver.get(f"{base_url}&page={page}")
    print(f"Scraping page {page}...")

    wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, "jIjQ8S")))
    mobiles = driver.find_elements(By.CLASS_NAME, "jIjQ8S")

    for mobile in mobiles:
        try:
            cate=driver.find_elements(By.CLASS_NAME,"zEfFJL")
            category = cate.find_element(By.CLASS_NAME, "zEfFJL").text.strip()
        except:
            category = "N/A"

        try:
            name = mobile.find_element(By.CLASS_NAME, "RG5Slk").text.strip()
        except:
            name = "N/A"

        try:
            price = mobile.find_element(By.CSS_SELECTOR, ".hZ3P6w.DeU9vF").text.strip()
        except:
            price = "N/A"

        try:
            rating = mobile.find_element(By.CLASS_NAME, "MKiFS6").text.strip()
        except:
            rating = "N/A"

        try:
            text = mobile.find_element(By.CLASS_NAME, "PvbNMB").text
            reviewcount = text.split("&")[1].replace("Reviews", "").replace(",", "").strip()
            
        except:
            reviewcount = "N/A"

        ProductName2.append(name)
        Price2.append(price)
        Category2.append(category)
        Ratings2.append(rating)
        NumberofReviews2.append(reviewcount)

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...

In [32]:
#create DataFrame
df2 = pd.DataFrame({
    "ProductName": ProductName2,
    "Price": Price2,
    "Category": Category2,
    "Rating": Ratings2,
    "Reviews":NumberofReviews2
})

print(f"\nTotal scraped: {len(df2)}")

Total scraped: 144

In [35]:
df2['Category']="Laptops"
df2

,ProductName,Price,Category,Rating,Reviews
0,DELL 15 AMD Ryzen 5 Hexa Core 7530U - (16 GB/5...,"₹40,990",Laptops,4.3,167
1,DELL 15 Intel Core i3 13th Gen 1305U - (16 GB/...,"₹40,990",Laptops,4.2,40
2,ASUS Vivobook Go 15 (2025) with Office 2024 + ...,"₹30,990",Laptops,4.3,33
3,Acer Aspire 3 Intel Celeron Dual Core - (8 GB/...,"₹25,990",Laptops,3.8,683
4,Acer Aspire 3 Intel Celeron Dual Core - (8 GB/...,"₹18,990",Laptops,3.8,683
...,...,...,...,...,...
139,Lenovo LOQ AMD Ryzen 7 Octa Core 7435HS - (24 ...,"₹91,990",Laptops,4.5,27
140,"DELL 14 Plus Backlit Keyboard, Fingerprint rea...","₹1,11,990",Laptops,4.7,1
141,Lenovo LOQ Intel Core i5 12th Gen 12450HX - (1...,"₹74,700",Laptops,4.6,2
142,Lenovo IdeaPad Slim 3 Backlit Keyboard with MS...,"₹65,990",Laptops,4.4,3
143,Lenovo IdeaPad Slim 3 AMD Ryzen 5 Quad Core 75...,"₹43,990",Laptops,4,19

In [36]:
driver.quit()

## Television Category Scraping

In [37]:
options=Options()
options.add_argument("--disable-gpu")
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=options)
driver.get("https://www.flipkart.com/search?q=television&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")
driver.maximize_window()
wait=WebDriverWait(driver,10)

In [38]:
ProductName3=[]
Price3=[]
Category3=[]
Ratings3=[]
NumberofReviews3=[]

In [39]:
base_url = "https://www.flipkart.com/search?q=television&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

for page in range(1,9):
    driver.get(f"{base_url}&page={page}")
    print(f"Scraping page {page}...")

    wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, "jIjQ8S")))
    mobiles = driver.find_elements(By.CLASS_NAME, "jIjQ8S")

    for mobile in mobiles:
        try:
            cate=driver.find_elements(By.CLASS_NAME,"zEfFJL")
            category = cate.find_element(By.CLASS_NAME, "zEfFJL").text.strip()
        except:
            category = "N/A"

        try:
            name = mobile.find_element(By.CLASS_NAME, "RG5Slk").text.strip()
        except:
            name = "N/A"

        try:
            price = mobile.find_element(By.CSS_SELECTOR, ".hZ3P6w.DeU9vF").text.strip()
        except:
            price = "N/A"

        try:
            rating = mobile.find_element(By.CLASS_NAME, "MKiFS6").text.strip()
        except:
            rating = "N/A"

        try:
            text = mobile.find_element(By.CLASS_NAME, "PvbNMB").text
            reviewcount = text.split("&")[1].replace("Reviews", "").replace(",", "").strip()
            
        except:
            reviewcount = "N/A"

        ProductName3.append(name)
        Price3.append(price)
        Category3.append(category)
        Ratings3.append(rating)
        NumberofReviews3.append(reviewcount)

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...
Scraping page 7...
Scraping page 8...

In [40]:
#create DataFrame
df3 = pd.DataFrame({
    "ProductName": ProductName3,
    "Price": Price3,
    "Category": Category3,
    "Rating": Ratings3,
    "Reviews":NumberofReviews3
})

print(f"\nTotal scraped: {len(df3)}")

Total scraped: 192

In [44]:
df3['Category']="Television"
df3

,ProductName,Price,Category,Rating,Reviews
0,Samsung Crystal 4K Vista 108 cm (43 inch) Ultr...,"₹27,990",Television,4.3,1583
1,Samsung 138 cm (55 inch) QLED Ultra HD (4K) Sm...,"₹47,990",Television,4.2,169
2,VW 60 cm (24 inch) HD Ready LED TV 2025 Edition,"₹4,499",Television,2.8,1
3,Foxsky 60 cm (24 inch) HD Ready LED Smart Andr...,"₹5,499",Television,4.1,2867
4,Samsung Crystal 4K Infinity Vision 108 cm (43 ...,"₹28,490",Television,4.3,4649
...,...,...,...,...,...
187,ONIDA Nex G 108 cm (43 inch) Ultra HD (4K) LED...,"₹20,999",Television,4.1,172
188,Hisense 55U7Q 138.5 cm (55 inch) Ultra HD (4K)...,"₹49,999",Television,4.1,18
189,Haier H6E 164 cm (65 inch) QLED Ultra HD (4K) ...,"₹59,990",Television,4.2,51
190,SONY Bravia 2 163.9 cm (65 inch) Ultra HD (4K)...,"₹69,990",Television,4.6,3789
191,Acer Super Series 127 cm (50 inch) QLED Ultra ...,"₹31,999",Television,4,281

## Vechicles Category Scraping

In [45]:
options=Options()
options.add_argument("--disable-gpu")
driver=webdriver.Chrome(service=Service(ChromeDriverManager().install()),options=options)
driver.get("https://www.flipkart.com/search?q=vechicles&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")
driver.maximize_window()
wait=WebDriverWait(driver,10)

In [46]:
ProductName4=[]
Price4=[]
Category4=[]
Ratings4=[]
NumberofReviews4=[]

In [47]:
base_url = "https://www.flipkart.com/search?q=vechicles&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

for page in range(1,9):
    driver.get(f"{base_url}&page={page}")
    print(f"Scraping page {page}...")

    wait.until(EC.presence_of_all_elements_located((By.CLASS_NAME, "jIjQ8S")))
    mobiles = driver.find_elements(By.CLASS_NAME, "jIjQ8S")

    for mobile in mobiles:
        try:
            cate=driver.find_elements(By.CLASS_NAME,"zEfFJL")
            category = cate.find_element(By.CLASS_NAME, "zEfFJL").text.strip()
        except:
            category = "N/A"

        try:
            name = mobile.find_element(By.CLASS_NAME, "RG5Slk").text.strip()
        except:
            name = "N/A"

        try:
            price = mobile.find_element(By.CSS_SELECTOR, ".hZ3P6w.DeU9vF").text.strip()
        except:
            price = "N/A"

        try:
            rating = mobile.find_element(By.CLASS_NAME, "MKiFS6").text.strip()
        except:
            rating = "N/A"

        try:
            text = mobile.find_element(By.CLASS_NAME, "PvbNMB").text
            reviewcount = text.split("&")[1].replace("Reviews", "").replace(",", "").strip()
            
        except:
            reviewcount = "N/A"

        ProductName4.append(name)
        Price4.append(price)
        Category4.append(category)
        Ratings4.append(rating)
        NumberofReviews4.append(reviewcount)

Scraping page 1...
Scraping page 2...
Scraping page 3...
Scraping page 4...
Scraping page 5...
Scraping page 6...
Scraping page 7...
Scraping page 8...

In [48]:
#create DataFrame
df4 = pd.DataFrame({
    "ProductName": ProductName4,
    "Price": Price4,
    "Category": Category4,
    "Rating": Ratings4,
    "Reviews":NumberofReviews4
})

print(f"\nTotal scraped: {len(df4)}")

Total scraped: 192

In [50]:
df4['Category']="Vechicle"
df4

,ProductName,Price,Category,Rating,Reviews
0,Chetak 3503 Electric Scooter by Bajaj Auto Boo...,"₹1,09,500",Vechicle,4.4,71
1,Chetak 3502 Electric Scooter by Bajaj Auto Boo...,"₹1,22,500",Vechicle,4.3,82
2,Chetak 3503 Electric Scooter by Bajaj Auto Boo...,"₹1,10,136",Vechicle,4.4,71
3,Matter Aera 5000+ Booking for Ex-Showroom Pric...,"₹1,78,826",Vechicle,4.4,7
4,Matter Aera 5000+ Booking for Ex-Showroom Pric...,"₹1,78,826",Vechicle,4.4,7
...,...,...,...,...,...
187,BAJAJ Freedom 125 CNG (Drum) Booking for Ex-Sh...,"₹92,340",Vechicle,4.3,38
188,Amo Electric Bikes AMO Feisty LA Booking for E...,"₹50,001",Vechicle,N/A,N/A
189,Amo Electric Bikes Single Light LI Booking for...,"₹54,999",Vechicle,N/A,N/A
190,BAJAJ Pulsar NS 125 UG ABS with Ride Modes Boo...,"₹1,02,412",Vechicle,4.6,29
191,BAJAJ Pulsar 125 NEON DISC SINGLE SEAT Booking...,"₹78,836",Vechicle,4.5,211

In [51]:
driver.quit()

,ProductName,Price,Category,Rating,Reviews
0,Chetak 3503 Electric Scooter by Bajaj Auto Boo...,"₹1,09,500",Vechicle,4.4,71
1,Chetak 3502 Electric Scooter by Bajaj Auto Boo...,"₹1,22,500",Vechicle,4.3,82
2,Chetak 3503 Electric Scooter by Bajaj Auto Boo...,"₹1,10,136",Vechicle,4.4,71
3,Matter Aera 5000+ Booking for Ex-Showroom Pric...,"₹1,78,826",Vechicle,4.4,7
4,Matter Aera 5000+ Booking for Ex-Showroom Pric...,"₹1,78,826",Vechicle,4.4,7
...,...,...,...,...,...
187,BAJAJ Freedom 125 CNG (Drum) Booking for Ex-Sh...,"₹92,340",Vechicle,4.3,38
188,Amo Electric Bikes AMO Feisty LA Booking for E...,"₹50,001",Vechicle,N/A,N/A
189,Amo Electric Bikes Single Light LI Booking for...,"₹54,999",Vechicle,N/A,N/A
190,BAJAJ Pulsar NS 125 UG ABS with Ride Modes Boo...,"₹1,02,412",Vechicle,4.6,29
191,BAJAJ Pulsar 125 NEON DISC SINGLE SEAT Booking...,"₹78,836",Vechicle,4.5,211

In [65]:
Dataframes=[df,df1,df2,df3,df4]
flipkart=pd.concat(Dataframes,ignore_index=True)

In [76]:
flipkart.drop(columns='category')

,ProductName,Price,Category,Rating,Reviews
0,"Google Pixel 9A (Porcelain, 256 GB)","₹39,999",Mobile,4.4,348
1,"Google Pixel 9A (Iris, 256 GB)","₹39,999",Mobile,4.4,348
2,"Ai+ Nova 5G (Pink, 128 GB)","₹8,499",Mobile,4.1,1358
3,"POCO C75 5G (Aqua Bliss, 64 GB)","₹8,299",Mobile,4.2,6441
4,"Google Pixel 9A (Obsidian, 256 GB)","₹39,999",Mobile,4.4,348
...,...,...,...,...,...
907,BAJAJ Freedom 125 CNG (Drum) Booking for Ex-Sh...,"₹92,340",Vechicle,4.3,38
908,Amo Electric Bikes AMO Feisty LA Booking for E...,"₹50,001",Vechicle,N/A,N/A
909,Amo Electric Bikes Single Light LI Booking for...,"₹54,999",Vechicle,N/A,N/A
910,BAJAJ Pulsar NS 125 UG ABS with Ride Modes Boo...,"₹1,02,412",Vechicle,4.6,29
911,BAJAJ Pulsar 125 NEON DISC SINGLE SEAT Booking...,"₹78,836",Vechicle,4.5,211

In [78]:
flipkart.to_csv(r"C:\Users\Lenovo\Downloads\data sci KG\CAPSTONE\Flipkart.csv", index=False)
print("Data saved to Capstone.csv")

Data saved to Capstone.csv